body {
  margin: 0px;
  background-color: #dbe9ee;
  font-family: "Quicksand", sans-serif;
}

#boxContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 20%;
  height: auto;
  margin: 2em;
  padding: 1% 2%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.342),
    0 6px 20px 0 rgba(74, 111, 165, 0.8);
}
.title {
  border-bottom: 2px solid #dbe9ee;
  text-align: center;
}

.image {
  width: 100%;
}

footer {
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

#search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10%;
  padding: 10px 0px;
}

.searchEpisodes {
  border: none;
  font-family: "Quicksand", sans-serif;
  border-radius: 5px;
  width: 20%;
  height: 2.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resultsNo {
  color: grey;
}
