body {
  margin: 0px;
  background-color: #dbe9ee;
  font-family: "Quicksand", sans-serif;
}

#boxContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 20%;
  height: auto;
  margin: 2em;
  padding: 2%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.342),
    0 6px 20px 0 rgba(74, 111, 165, 0.8);
}
.title {
  border-bottom: 2px solid #dbe9ee;
  text-align: center;
}

/*.brief {
}*/

.image {
  width: 100%;
}

footer {
  font-family: "Quicksand", sans-serif;
  text-align: center;
}
